{
  "$schema": "https://json.schemastore.org/swcrc.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "useDefineForClassFields": false
    },
    "baseUrl": "./",
    "paths": {
      "@/*": ["./src/*"],
      "@api/*": ["./src/applications/*"],
      "@database/*": ["./src/database/*"],
    }
  },
  "module": {
    "type": "commonjs"
  }
}